body {
    background-color: #132A13;
    color: white;
}

.header {
    text-align: center;
    background-image: radial-gradient(circle, #4f772d, #132A13);
}

.main {
    display: grid;
    gap: 1rem;
}

.background {
    display: grid;
    gap: 1rem;
}

section {
    margin: 1rem;
}

.profile-container {
    max-width: 250px;
    margin: 0 auto;
}

ul {
    list-style: disc outside none;
    display: list-item;
    margin-left: 20px;
    padding-left: 0;
}

a {
    text-decoration: underline;
}

/* Utility Class */
/* Using this to apply to various elements that need text-center only */
.centered-text {
    text-align: center;
}


@media screen and (min-width: 768px) {
    .background {
        grid-template-columns: 1fr 2fr;
    }
}