@import "reset.css";
@import "globalVariables.css";

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.header {
    text-align: center;
    background-image: radial-gradient(circle, var(--header-gradient-primary), var(--header-gradient-secondary));
}

.main {
    display: grid;
    gap: 1rem;
}

.background {
    display: grid;
    gap: 1rem;
}

section {
    margin: 1rem;
}

.profile-container {
    max-width: 250px;
    margin: 0 auto;
}

ul {
    list-style: disc outside none;
    display: list-item;
    margin-left: 20px;
    padding-left: 0;
}

a {
    text-decoration: underline;
}

/* Utility Class */
/* Using this to apply to various elements that need text-center only */
.centered-text {
    text-align: center;
}


@media (min-width: 992px) {
    .background {
        grid-template-columns: 1fr 2fr;
    }
}